@use 'variables';

$color-primary-list: var(--primary-color-100), var(--primary-color-200), var(--primary-color-300), var(--primary-color-400), var(--primary-color-500), var(--primary-color-600), var(--primary-color-700), var(--primary-color-800), var(--primary-color-900);

@for $i from 1 to length($color-primary-list)+1{

    .bg-primary-s#{$i}{
        background-color: nth($color-primary-list, $i)
    }
}

$color-accent-list: var(--accent-color-100) var(--accent-color-200) var(--accent-color-300) var(--accent-color-400) var(--accent-color-500) var(--accent-color-600) var(--accent-color-700) var(--accent-color-800) var(--accent-color-900);

@for $i from 1 to length($color-accent-list)+1{
    
    .bg-accent-s#{$i}{
        background-color: nth($color-accent-list, $i)
    }
}

$color-neutral-list: var(--neutral-color-100) var(--neutral-color-200) var(--neutral-color-300) var(--neutral-color-400) var(--neutral-color-500) var(--neutral-color-600) var(--neutral-color-700) var(--neutral-color-800) var(--neutral-color-900);

@for $i from 1 to length($color-neutral-list)+1{

    .bg-neutral-s#{$i}{
        background-color: nth($color-neutral-list, $i)
    }
}
