@use "variables"

.container
    width: min(100% - 2rem, 60rem)
    display: flex
    background-color: white
    margin: 0 auto
    flex-grow: 1
    padding: variables.$padding-normal

.header
    background-color: variables.$primary-color

.footer
    background-color: variables.$primary-color-shade-1
