@use "variables"

.container
    width: min(100% - 2rem, 60rem)
    display: flex
    background-color: white
    margin: 0 auto
    flex-grow: 1
    padding: variables.$padding-normal

.header
    background-color: variables.$primary-color
    padding: .5rem 1rem
.footer
    background-color: variables.$primary-color-shade-1

.flex-columns
    display: flex
    flex-direction: column

.main-content
    display: flex
    flex: 1
