// COLOR VARIABLES
$primary-color-s1: hsl(190, 100%, 10%)
$primary-color-s2: hsl(190, 100%, 25%)
$primary-color-s3: hsl(190, 100%, 34%)
$primary-color-s4: hsl(190, 100%, 38%)
$primary-color-s5: hsl(190, 100%, 42%)
$primary-color-s6: hsl(190, 86%, 47%)
$primary-color-s7: hsl(190, 77%, 51%)
$primary-color-s8: hsl(190, 82%, 59%)
$primary-color-s9: hsl(190, 100%, 76%)

// PADDING
$padding-small: 8px
$padding-normal: 14px
$padding-medium: 18px
