// COLOR VARIABLES

//LIGHT THEME
$primary-color-s1: hsl(190, 100%, 10%)
$primary-color-s2: hsl(190, 100%, 25%)
$primary-color-s3: hsl(190, 90%, 34%)
$primary-color-s4: hsl(190, 85%, 38%)
$primary-color-s5: hsl(190, 85%, 42%)
$primary-color-s6: hsl(190, 86%, 47%)
$primary-color-s7: hsl(190, 77%, 51%)
$primary-color-s8: hsl(190, 82%, 59%)
$primary-color-s9: hsl(190, 100%, 76%)

$accent-color-s1: hsl(262, 100%, 16%)
$accent-color-s2: hsl(262, 100%, 27%)
$accent-color-s3: hsl(262, 100%, 33%)
$accent-color-s4: hsl(262, 100%, 35%)
$accent-color-s5: hsl(262, 100%, 38%)
$accent-color-s6: hsl(262, 82%, 44%)
$accent-color-s7: hsl(262, 70%, 49%)
$accent-color-s8: hsl(262, 71%, 59%)
$accent-color-s9: hsl(262, 100%, 80%)

$neutral-color-s1: hsl(210, 11%, 15%)
$neutral-color-s2: hsl(210, 10%, 23%)
$neutral-color-s3: hsl(210, 9%, 31%)
$neutral-color-s4: hsl(210, 7%, 46%)
$neutral-color-s5: hsl(210, 11%, 71%)
$neutral-color-s6: hsl(210, 14%, 83%)
$neutral-color-s7: hsl(210, 14%, 89%)
$neutral-color-s8: hsl(210, 16%, 93%)
$neutral-color-s9: hsl(210, 17%, 98%)

//DARK THEME

// PADDING
$padding-small: 8px
$padding-normal: 14px
$padding-medium: 18px
