@use "../abstracts/variables" as *;

/* LIGHT THEME*/
:root {
    --primary-color-100: #{$primary-color-s1};
    --primary-color-200: #{$primary-color-s2};
    --primary-color-300: #{$primary-color-s3};
    --primary-color-400: #{$primary-color-s4};

    
    --accent-color-100: #{$accent-color-s1};
    --accent-color-200: #{$accent-color-s2};
    --accent-color-300: #{$accent-color-s3};
    --accent-color-400: #{$accent-color-s4};


    --neutral-color-100: #{$neutral-color-s1};
    --neutral-color-200: #{$neutral-color-s2};
    --neutral-color-300: #{$neutral-color-s3};
    --neutral-color-400: #{$neutral-color-s4};


    --text-color: black;
    --text-color-contrast: white;

    --background-color: #ededed
}

/* DARK THEME */
:root [data-theme="dark"]{
    --primary-color-100: #{$primary-color-s1-dark};
    --primary-color-200: #{$primary-color-s2-dark};
    --primary-color-300: #{$primary-color-s3-dark};
    --primary-color-400: #{$primary-color-s4-dark};

    
    --accent-color-100: #{$accent-color-s1-dark};
    --accent-color-200: #{$accent-color-s2-dark};
    --accent-color-300: #{$accent-color-s3-dark};
    --accent-color-400: #{$accent-color-s4-dark};


    --neutral-color-100: #{$neutral-color-s1-dark};
    --neutral-color-200: #{$neutral-color-s2-dark};
    --neutral-color-300: #{$neutral-color-s3-dark};
    --neutral-color-400: #{$neutral-color-s4-dark};


    --text-color: white;
    --text-color-contrast: black;

    --background-color: black;
}