#root {
  background-color: var(--background-color);
}

.bg-primary-s1 {
  background-color: var(--primary-color-100);
}

.bg-primary-s2 {
  background-color: var(--primary-color-200);
}

.bg-primary-s3 {
  background-color: var(--primary-color-300);
}

.bg-primary-s4 {
  background-color: var(--primary-color-400);
}

.bg-primary-s5 {
  background-color: var(--primary-color-500);
}

.bg-primary-s6 {
  background-color: var(--primary-color-600);
}

.bg-primary-s7 {
  background-color: var(--primary-color-700);
}

.bg-primary-s8 {
  background-color: var(--primary-color-800);
}

.bg-primary-s9 {
  background-color: var(--primary-color-900);
}

.bg-accent-s1 {
  background-color: var(--accent-color-100);
}

.bg-accent-s2 {
  background-color: var(--accent-color-200);
}

.bg-accent-s3 {
  background-color: var(--accent-color-300);
}

.bg-accent-s4 {
  background-color: var(--accent-color-400);
}

.bg-accent-s5 {
  background-color: var(--accent-color-500);
}

.bg-accent-s6 {
  background-color: var(--accent-color-600);
}

.bg-accent-s7 {
  background-color: var(--accent-color-700);
}

.bg-accent-s8 {
  background-color: var(--accent-color-800);
}

.bg-accent-s9 {
  background-color: var(--accent-color-900);
}

.bg-neutral-s1 {
  background-color: var(--neutral-color-100);
}

.bg-neutral-s2 {
  background-color: var(--neutral-color-200);
}

.bg-neutral-s3 {
  background-color: var(--neutral-color-300);
}

.bg-neutral-s4 {
  background-color: var(--neutral-color-400);
}

.bg-neutral-s5 {
  background-color: var(--neutral-color-500);
}

.bg-neutral-s6 {
  background-color: var(--neutral-color-600);
}

.bg-neutral-s7 {
  background-color: var(--neutral-color-700);
}

.bg-neutral-s8 {
  background-color: var(--neutral-color-800);
}

.bg-neutral-s9 {
  background-color: var(--neutral-color-900);
}

select {
  font-weight: bold;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  background-color: var(--neutral-color-400);
  color: var(--text-color);
}

.primary-button {
  font-weight: bold;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  background-color: var(--primary-color-200);
  border: 2px solid var(--primary-color-200);
  color: var(--text-color);
}
.primary-button:hover {
  background-color: var(--primary-color-100);
  border: 2px solid var(--primary-color-100);
  color: var(--text-color-contrast);
}

.secondary-button {
  font-weight: bold;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  border: 2px solid var(--primary-color-200);
  color: var(--primary-color-200);
}
.secondary-button:hover {
  background-color: var(--primary-color-100);
}

.secondary-button-contrast {
  font-weight: bold;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  background-color: var(--primary-color-300);
  border: 2px solid var(--primary-color-300);
  color: var(--primary-color-100);
}
.secondary-button-contrast:hover {
  background-color: var(--neutral-color-200);
  border: 2px solid var(--neutral-color-300);
}

.tertiary-button {
  font-weight: bold;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  color: var(--neutral-color-100);
}

.header {
  background-color: var(--primary-color-300);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
}

.footer {
  background-color: var(--primary-color-400);
}

.navbar {
  gap: 20px;
  display: flex;
}
.navbar > a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color-100);
  display: flex;
  align-items: center;
}
.navbar a.active {
  color: var(--text-color);
  text-decoration: underline;
}

.container {
  max-width: min(100% - 2rem, 60rem);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: white;
  margin: 15px auto;
  padding: 18px;
  border-radius: 10px;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
}

.side-bar {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  flex: 0 0 350px;
  padding: 18px;
  align-items: center;
}

.side-bar-list {
  width: fit-content;
}

.container-side-and-content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.color-list {
  display: flex;
  flex-direction: columns;
  flex-wrap: wrap;
  gap: 10px;
}

.color-shade {
  width: 90px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.color-shade span {
  font-size: 10px;
}

.color-selector {
  margin-left: auto;
}

/* LIGHT THEME*/
:root {
  --primary-color-100: hsl(190, 80%, 20%);
  --primary-color-200: hsl(190, 95%, 50%);
  --primary-color-300: hsl(190, 95%, 70%);
  --primary-color-400: hsl(190, 100%, 80%);
  --accent-color-100: hsl(40, 100%, 16%);
  --accent-color-200: hsl(40, 90%, 40%);
  --accent-color-300: hsl(40, 90%, 50%);
  --accent-color-400: hsl(40, 100%, 80%);
  --neutral-color-100: hsl(255, 11%, 15%);
  --neutral-color-200: hsl(255, 10%, 35%);
  --neutral-color-300: hsl(255, 9%, 55%);
  --neutral-color-400: hsl(255, 7%, 90%);
  --text-color: black;
  --text-color-contrast: white;
  --background-color: #ededed ;
}

/* DARK THEME */
:root [data-theme=dark] {
  --primary-color-100: hsl(190, 80%, 20%);
  --primary-color-200: hsl(190, 95%, 50%);
  --primary-color-300: hsl(190, 95%, 70%);
  --primary-color-400: hsl(190, 100%, 80%);
  --accent-color-100: hsl(40, 100%, 16%);
  --accent-color-200: hsl(40, 90%, 40%);
  --accent-color-300: hsl(40, 90%, 50%);
  --accent-color-400: hsl(40, 100%, 80%);
  --neutral-color-100: hsl(255, 8%, 90%);
  --neutral-color-200: hsl(255, 10%, 55%);
  --neutral-color-300: hsl(255, 15%, 35%);
  --neutral-color-400: hsl(255, 20%, 10%);
  --text-color: white;
  --text-color-contrast: black;
  --background-color: black;
}/*# sourceMappingURL=index.css.map */