/* LIGHT THEME*/
:root {
  --primary-color-100: hsl(190, 100%, 10%);
  --primary-color-200: hsl(190, 100%, 25%);
  --primary-color-300: hsl(190, 90%, 34%);
  --primary-color-400: hsl(190, 85%, 38%);
  --primary-color-500: hsl(190, 85%, 42%);
  --primary-color-600: hsl(190, 86%, 47%);
  --primary-color-700: hsl(190, 77%, 51%);
  --primary-color-800: hsl(190, 82%, 59%);
  --primary-color-900: hsl(190, 100%, 76%);
  --accent-color-100: hsl(262, 100%, 16%);
  --accent-color-200: hsl(262, 100%, 27%);
  --accent-color-300: hsl(262, 100%, 33%);
  --accent-color-400: hsl(262, 100%, 35%);
  --accent-color-500: hsl(262, 100%, 38%);
  --accent-color-600: hsl(262, 82%, 44%);
  --accent-color-700: hsl(262, 70%, 49%);
  --accent-color-800: hsl(262, 71%, 59%);
  --accent-color-900: hsl(262, 100%, 80%);
  --neutral-color-100: hsl(210, 11%, 15%);
  --neutral-color-200: hsl(210, 10%, 23%);
  --neutral-color-300: hsl(210, 9%, 31%);
  --neutral-color-400: hsl(210, 7%, 46%);
  --neutral-color-500: hsl(210, 11%, 71%);
  --neutral-color-600: hsl(210, 14%, 83%);
  --neutral-color-700: hsl(210, 14%, 89%);
  --neutral-color-800: hsl(210, 16%, 93%);
  --neutral-color-900: hsl(210, 17%, 98%);
  --text-color: black;
  --text-color-contrast: white;
}

/* DARK THEME */
:root [data-theme=dark] {
  --primary-color-100: black;
  --text-color: white;
  --text-color-contrast: black;
}

.bg-primary-s1 {
  background-color: var(--primary-color-100);
}

.bg-primary-s2 {
  background-color: var(--primary-color-200);
}

.bg-primary-s3 {
  background-color: var(--primary-color-300);
}

.bg-primary-s4 {
  background-color: var(--primary-color-400);
}

.bg-primary-s5 {
  background-color: var(--primary-color-500);
}

.bg-primary-s6 {
  background-color: var(--primary-color-600);
}

.bg-primary-s7 {
  background-color: var(--primary-color-700);
}

.bg-primary-s8 {
  background-color: var(--primary-color-800);
}

.bg-primary-s9 {
  background-color: var(--primary-color-900);
}

.bg-accent-s1 {
  background-color: var(--accent-color-100);
}

.bg-accent-s2 {
  background-color: var(--accent-color-200);
}

.bg-accent-s3 {
  background-color: var(--accent-color-300);
}

.bg-accent-s4 {
  background-color: var(--accent-color-400);
}

.bg-accent-s5 {
  background-color: var(--accent-color-500);
}

.bg-accent-s6 {
  background-color: var(--accent-color-600);
}

.bg-accent-s7 {
  background-color: var(--accent-color-700);
}

.bg-accent-s8 {
  background-color: var(--accent-color-800);
}

.bg-accent-s9 {
  background-color: var(--accent-color-900);
}

.bg-neutral-s1 {
  background-color: var(--neutral-color-100);
}

.bg-neutral-s2 {
  background-color: var(--neutral-color-200);
}

.bg-neutral-s3 {
  background-color: var(--neutral-color-300);
}

.bg-neutral-s4 {
  background-color: var(--neutral-color-400);
}

.bg-neutral-s5 {
  background-color: var(--neutral-color-500);
}

.bg-neutral-s6 {
  background-color: var(--neutral-color-600);
}

.bg-neutral-s7 {
  background-color: var(--neutral-color-700);
}

.bg-neutral-s8 {
  background-color: var(--neutral-color-800);
}

.bg-neutral-s9 {
  background-color: var(--neutral-color-900);
}

.container {
  max-width: min(100% - 2rem, 60rem);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: white;
  margin: 0 auto;
  padding: 18px;
}

.header {
  background-color: var(--primary-color-700);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
}

.footer {
  background-color: var(--primary-color-700);
}

.flex-columns {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
}

.side-bar {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  flex: 0 0 350px;
  padding: 18px;
  align-items: center;
}

.side-bar-list {
  width: fit-content;
}

.container-side-and-content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.color-list {
  display: flex;
  flex-direction: columns;
  flex-wrap: wrap;
  gap: 10px;
}

.navbar {
  gap: 15px;
  display: flex;
}
.navbar > a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-color);
  display: flex;
  align-items: center;
}
.navbar a.active {
  color: var(--primary-color-200);
}

.primary-button {
  font-weight: bold;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  background-color: var(--primary-color-500);
  border: 2px solid var(--primary-color-500);
  color: var(--neutral-color-900);
}
.primary-button:hover {
  background-color: var(--primary-color-200);
  border: 2px solid var(--primary-color-200);
}

.secondary-button {
  font-weight: bold;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  border: 2px solid var(--neutral-color-500);
  color: var(--primary-color-500);
}
.secondary-button:hover {
  background-color: var(--primary-color-200);
  border: 2px solid var(--primary-color-200);
}

.secondary-button-contrast {
  font-weight: bold;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  background-color: var(--primary-color-900);
  border: 2px solid var(--primary-color-900);
  color: var(--primary-color-200);
}
.secondary-button-contrast:hover {
  background-color: var(--primary-color-700);
  border: 2px solid var(--primary-color-700);
}

.tertiary-button {
  font-weight: bold;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  color: black;
}

select {
  font-weight: bold;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  background-color: grey;
}

.color-shade {
  width: 90px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.color-shade span {
  font-size: 10px;
}

.color-selector {
  margin-left: auto;
}/*# sourceMappingURL=index.css.map */